table.small_in .tablesorter-filter{
  width: 30px !important;
}
table.small_in input{
  width: 40px !important;
}
textarea.form-control{
	height: 100px;
}
.required{
	color: #F00;
}
.page-title2{
	padding: 0px;
    font-size: 23px;
    letter-spacing: -1px;
    display: block;
    color: #666;
    margin: 0px 0px 15px 0px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}
.error{
	color: #F42B2B;
}
.tablesorter-headerRow{
	border-top: 2px solid #ddd;
}
label.error{
	font-size: 11px;
}
.sortable div{
	cursor: move;
}
.sortable-div{
	padding: 10px;
	border: 1px dashed #CCC;
	font-size: 16px;
	margin: 10px 0;
}
.sortable-div button {
	padding-top: 3px;
	padding-bottom: 3px;
}
.sortable-div a.btn {
	padding-top: 3px;
	padding-bottom: 3px;
}
.clear{
	clear: both;
}
.small-text{
	font-size:14px;
	color:#888;
}
.nav-pills li{
	background: #EEE;
}
.nav-pills li a{
	padding-top:5px;
	padding-bottom:5px;
}
.event_1{
	background: #35aa47;
	color: #FFF;
	font-weight: bold;
}
.event_2{
	background: #FFB848;
	color: #FFF;
	font-weight: bold;
}
.event_3{
	background: #c63927;
	color: #FFF;
	font-weight: bold;
}
.event_5{
	background: #35aa47;
	color: #FFF;
	font-weight: bold;
}
.event_6{
	background: #c63927;
	color: #FFF;
	font-weight: bold;
}
.red-text{
	color: #d84a38;
}
.green-text{
	color: #35aa47;
}
.assess_textarea{
	width: 100%;
	height:60px;
}
.displaytable{
	display: table;
	width: 100%;
}
.displaytable >div{
	display: table-cell;
	vertical-align: middle;
	float: none;
}
.displaytable > div:first-child{
	font-size: 22px;
}
.alert-failure{
	background: red;
}
.big-text{
	font-size: 20px;
}
.profile-pic img{
	width: 100%;
	margin-top:10px;
	border: 1px solid black;
}

/* css for register status bar */
.number{
	display: inline-block;
    text-align: center !important;
    font-size: 16px;
    font-weight: 300;
    padding: 11px 15px 13px 15px;
    margin-right: 5px;
    height: 45px;
    width: 45px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
.active .number {
	background: #45B6AF;
	color:#ffffff;
	margin: 5px;
}
.desc{
	font-size:16px;
	font-weight: 300
}
.course-details{

}
.course-details .detail{
	font-size: 16px;
	margin-bottom: 20px;
}

.course-details .detail span{
	font-size: 14px;
	font-weight: bold;
	display: block;
}

.color-red{
	color: #f00;
}

.color-green{
	color: #3c763d;
}
.log-status{
	font-size: 20px;
}
.arrow-up{
	text-align: center;
	margin: 10px;
}
.arrow-up img{
	width: 20px;
	height: auto;
}